h1 {
    color: black;
    font-family: monospace ;
    text-align: center;
    font-size: 50px;
    font-style: bold;
    font-style: italic;
}
/*div dan span*/
.DaftarLink {
    background-color:black;
    font-family: monospace;
    color :white;
    text-align: left;
    font-size: 25px;
    display: inline-block; /*inline block agar bisa mengatur tinggi dan lebarnya*/
    width: 330px;
    height: 200px;
}
.DaftarLink span {
    font-size: 35px;
    font-style: italic;
}    

/*Display*/
.DaftarLink li {
    display: inline; /*memakai inline agar tidak membuat garis baru*/
}

h2 {
    background-color: black;
    color: white;
    display: block; /*block itu defaultnya lebarnya akan memenuhi parentnya */
    width: 50%;
}

/*dimensi dan overflow*/
.satu {
    width: 200px;
    height: 100px;
}

.dua {
    width: 100%; /*Karena parentnya yaitu satu memiliki width 200px maka anaknya yaitu dua akan mengikuti sesuai parentnya dan juga persentasenya*/
    color: white;
    background-color: silver;
}

.lorem {
    overflow: auto; /*Auto agar ketika keluar dari padding maka akan menambahkan sebuah scroll,hidden agar ketika keluar dari padding maka akan disembunyikan,scroll agar ketika keluar dari padding maka akan menambahkan sebuah scroll bedanya dengan auto adalah ketika cukup auto akan menghilangkan scrollnya tetapi kalau scroll scrollnya tidak akan hilang*/
    background-color: black;
    color: white;
    width:200px;
    height: 200px;
}

/* Margin */
.tiga {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    margin-left: auto; /*Menambahkan margin kiri*/ /*ketika memakai auto di kiri dan kanan maka dia akan berada di tengah tengah posisi parentnya*/
    margin-right: auto; /*Menambahkan margin kanan*/
    margin-top: 100px; /*Menambahkan margin atas*/
    margin-bottom: 100px; /*Menambahkan margin bawah*/
    /* display: inline-block; */
}

.empat {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-top: 50px; /*margin vertikal tidak akan dianggap ketika diatas atau dibawah margin ada margin dengan size yang lebih besar dan sebaliknya jika marginnya lebih besar maka yang tidak dianggap adalah margin yang lebih kecil*/
    margin-right: 50px; /* berbeda dengan margin vertikal,margin horizontal akan menambahkan satu margin dengan margin yang lainnya*/
    margin-bottom: 50px;
    display: inline-block;
}

.lima {
    width: 50px;
    height: 50px;
    background-color: violet;
    margin-left: 70px;
    margin-top: -120px; /*berbeda lagi ketika margin negatif maka margin yang ada disebelahnya akan dilawan arusnya oleh margin negatif*/
    /* display: inline-block; */
}

.enam {
    width: 25px;
    height: 25px;
    background-color: pink;
    margin: 50px; /* ketika valuenya hanya satu yang diambil adalah ke 4 sisi,ketika valuenya ada 2 maka value pertama mengambil sisi atas dan bawah sedangkan value ke 2 mengambil sisi kiri dan kanan,ketika valuenya ada 3 makan urutannya 1.sisi atas 2.sisi kiri dan kanan 3.sisi bawah,ketika valuenya ada 4 maka urutannya searah jarum jam 1.sisi atas 2.sisi kanan 3.sisi bawah 4.sisi kiri*/
}

/* Padding dan border */
.paddingdanborder{
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px; /* sama dengan margin ketika valuenya hanya satu yang diambil adalah ke 4 sisi,ketika valuenya ada 2 maka value pertama mengambil sisi atas dan bawah sedangkan value ke 2 mengambil sisi kiri dan kanan,ketika valuenya ada 3 makan urutannya 1.sisi atas 2.sisi kiri dan kanan 3.sisi bawah,ketika valuenya ada 4 maka urutannya searah jarum jam 1.sisi atas 2.sisi kanan 3.sisi bawah 4.sisi kiri*/
    /* Padding berbeda dengan margin,padding tidak bisa memakai value auto dan value minus */
    border: 5px double red; /*Urutan valuenya adalah 1.ukuran 2.style 3.warna*/ /*untuk style ada 3 yang bisa dipakai yaitu 1.solid untuk border yang solid hanya garis saja 2.dotted yaitu bordernya menjadi titik titik kecil 3.dashed bordernya menjadi putus putus 4.double bordernya jadi ada 2 garis*/
    /*sama seperti margin dan padding kita bisa memakai hanya salah satu sisi seperti top,right,bottom,dan left*/
    box-sizing: border-box; /*box-sizing adalah elemen yang membuat kotaknya tetap menjadi ukuran awal meskipun menambahkan padding dan border*/
}

/* Reset */
/* Untuk mereset semua elemen html */

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* float */

.float {
    width:600px;
    height: 300px;
    border: 1px solid;
    margin: auto;
    padding: 10px;
}

.float1 , .float2 , .float3 {
    width: 100px;
    height: 100px;

}


.float1 {
    background-color:salmon;
}

.float2 {
    background-color:skyblue;
    float: left; /*memindahkan elemen ke paling kiri dari size parentnya*/
}

.float3 {
    background-color:green;
    float: right; /*memindahkan elemen ke paling kanan dari size parentnya*/
}

/* text wrapping with float */

.text {
    width:600px;
    height: 400px;
    border: 1px solid;
    margin: auto;
    padding: 10px;
}

.logo {
    width: 200px;
    height: 200px;
    float: right; /*membuat gambar menjadi di kanan atau kiri dan teksnya akan berada di sampingnya*/
}

/* Image gallery with float */
.gallery {
    width:600px;
    border: 1px solid;
    margin: auto;
    padding: 10px;
}

.kotak {
    width:80px;
    height: 80px;
    color: white;
    background-color:skyblue;
    text-align: center;
    line-height:80px;
    margin : 2px;
    float: left;    
}

/* multi column layout with float*/

.multi {
    width:800px;
    border: 1px solid;
    margin: auto;
    padding: 10px;
}

.kiri {
    width:200px;
    background-color: salmon;
    height: 500px;
    float: left; /*semua element left semua agar saling berdampingan*/
}

.tengah {
    width:450px; /*ukurannya harus menyesuaikan dengan parentnya*/
    background-color:skyblue;
    height: 500px;
    float: left;
}

.kanan {
    width:150px;
    background-color:green;
    height: 500px;
    float: left;
}

